@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --font-size-base: 16px;
  --font-family-base: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

*:focus-visible {
  outline-color: blue;
}

body {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

h2::first-letter {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.pokemon__header h1 {
  font-size: 2.7rem;
  font-weight: bold;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
}

.pokemon__header a {
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-left: 10px;
}

.pokemon__header a:hover {
  transform: scale(1.1);
}

.pokemon-card__list li {
  display: flex;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 5px;
}

.pokemon-card__list img {
  max-width: 100%;
}

.pokemon__details-container img {
  max-width: 100%;
}

.pokemon__details-info h2 {
  width: 1rem;
}

.pokemon__details span {
  display: flex;
  font-size: 1.2rem;
  padding: 0rem 0 0rem 0.5rem;
}

.pokemon__component-no-found h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15rem;
}

.pokemon__component-no-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.pokemon__header {
  background-color: antiquewhite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-input {
  background-color: whitesmoke;
  display: block;
  margin: 1rem auto;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: large;
}

.pokemon-card__container {
  display: flex;
  justify-content: center;
  margin: 2rem auto 4rem;
}

.pokemon-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem;
  gap: 1rem;
}

.pokemon-card {
  width: 20rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem 0 0 0;
}

.pokemon-card__link {
  display: block;
  width: 100%;
}

.pokemon-card__header {
  border: 0.2px solid #ccc;
  background-color: antiquewhite;
  margin-top: 1rem;
  width: 100%;
  margin: 1rem 0 0 0;
  text-align: center;
  padding: 0.5rem;
}

.pokemon__details {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.pokemon__details-container {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 5px;
  margin-top: 1rem;
  max-width: 596px;
}

.pokemon__details-info {
  background-color: antiquewhite;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.pokemon__details-info-item {
  flex-basis: 50%;
  padding: 10px;
}

.pokemon__details-container-name {
  margin-top: 2rem;
  font-size: 2rem;
}

.pokemon__details-container-image {
  display: flex;
  align-items: center;
  margin: 1rem;
  flex-direction: column;
}

.pokemon__details-container-span {
  font-weight: 600;
}

@media (max-width: 465px) {
  .pokemon__header h1 {
    font-size: 1.7rem;
  }
  .search-input {
    width: calc(100% - 1rem);
    padding: 1rem;
  }
  .pokemon-card__list {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }
  .pokemon-card {
    width: 100%;
  }
  .pokemon__details {
    margin-top: 2rem;
  }
  .pokemon__details-container {
    margin: 0 1rem;
  }
}
